/*global*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Nunito', sans-serif;
}
p{
    line-height: 2;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
/*utilities*/
.container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    
    
    
}

.register-btn{
    border: 1px solid;
    background-color: aquamarine;
    padding: 10px;
    color: white;
    width: 200px;
    margin-left: 43%;
}

.registration-container{
    display: flex;
    flex-direction: column;
    margin: left;
}


#txtGender{
    width: 178px;
}

/*header*/
.site-init{
    background-image: url(/img/_21f48bb4-a6e5-4a3d-977f-6f5149c0c934.jpg);
    height: 40vh;
    background-size: cover;
    color: aquamarine;
    text-align: center;
}


/*Service*/
.site-init{
    
}
